.header-content {
    width: 1170px;
    margin: 0 auto;
    line-height: 1;
    padding: 10px 0;
    img {
        height: 32px;
        vertical-align: top;
        width: auto;
        float: left;
    }
    .search-content {
        text-align: right;
        .keywords {
            width: 300px;
        }
        .ant-btn {
            margin-left: 15px;
        }
        .ant-input-search-button {
            margin-left: 0;
        }
    }
}